<p id="notice"><%= notice %></p>

<h1 class="center">Cotizador</h1>

<div class="container">
  <div class="card radius z-depth-3">
    <%= link_to new_invoice_path do %>
      <div class="btn-floating halfway-fab waves-light red"><i class="material-icons">add</i></div>
    <%end%>
    <div class="card-content">
      <table class="highlight responsive-table centered">
        <thead>
          <tr>
            <th>Cantidad</th>
            <th>Empresa/Pyme</th>
            <th>Contragent</th>
            <th>Moneda</th>
            <th>Fecha</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.amount %></td>
              <td><%= invoice.company %></td>
              <td><%= invoice.contragent %></td>
              <td><%= invoice.currency %></td>
              <td><%= invoice.date %></td>
              <td><%= link_to 'Ver', invoice, class:"waves-effect waves-light btn" %></td>
              <td><%= link_to 'Editar', edit_invoice_path(invoice), class:"waves-effect waves-light btn" %></td>
              <td><%= link_to invoice, method: :delete,class:" halfway-fab waves-effect waves-light  ", data: { confirm: "Seguro que quieres eliminar?" } do %>
                    <i class="material-icons">delete</i> 
                  <% end %>
              </td>
            </tr>
            
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

