@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


select{
    display: block;
}

.radius{
    border-radius: 6px;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  