</header>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">one</a></li>
  <li class="divider"></li>
  <li><a href="#!">one</a></li>
</ul>

<nav>
  <div class="nav-wrapper z-depth-2">
    <a href="#!"><img class="responsive-img " src="" width="150" height="150"></img></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      
      <li></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Ajustes<i class="material-icons right">arrow_drop_down</i></a></li>
      
        <li></li>
        <li></li>
      
    </ul>
  </div>
  
  <!--Navbar Mobile-->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Quiénes somos</a></li>
    <li><a href="badges.html">¿Porque Genuine?</a></li>
    <li><a href="collapsible.html">Inversiones</a></li>
    <li><a href="mobile.html">Faq</a></li>
    <li><a href="mobile.html">Contacto</a></li>
    <li><div class="divider"></div></li>
    <li><a class="container waves-effect waves-light btn black-text">Iniciar Sesión </a></li>
  </ul>
</nav>